
.inv-item {
    margin: 0.5em 1em 0 1em;
    display: absolute;
}

.item-img {
    margin-top: 2em;
    cursor: grab;
    width: 7em;
    height: 7em;
}

#inventory {
    justify-content: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
    flex-direction: column;
    margin-left: 5%;
}

.item-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    border: 1px solid black;
    padding: 0 1em 0.3em 1em;
    width: 50%;
    height: 40%;
    background-color: rgba(229, 245, 229, 0.9);
    position: absolute;
    display: inline-block;
    top: 20%;
    right: -10%;
}
