.errors{
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.err-img {
    width: 2em;
    height: 2em;
    margin: 0 2% 0 3%;
}

#err-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.err-text {
    font-size: 1.2em;
}

@media only screen and (max-width: 1100px) {
    .err-text{
        font-size: 90%;
        margin-right: 1em;
    }
    .err-img {
        width: 10%;
        height: 10%;
        margin-bottom: 5%;
    }
    #err-container{
        margin-top: 1em !important;
        margin-bottom: 0.5em !important;
    }
  }